@import "tailwindcss";

* {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #fffadf;
}

.vertical-slider {
  -webkit-appearance: none; /* Chrome / Safari */
  appearance: none;
  writing-mode: vertical-lr;
  width: 10%;
  height: 40%;
  user-select: none;

  background-image: url("assets/sketchy-border.svg");
  background-repeat: round;
  background-size: auto;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex-shrink: 0;
  width: clamp(30px, 6dvw, 54px);
  height: clamp(30px, 6dvw, 54px);
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: block;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: 3px solid #000000;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: 3px solid #000000;
}

.vertical-slider::-webkit-slider-runnable-track {
  background-image: url("assets/sketchy-border.svg");
  width: 8px;
  background-repeat: repeat-y;
  background-size: auto 100%;
}

.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background: rgb(255, 255, 255);
  border: solid;
  border-radius: 50%;
  margin-left: -2px;
}

.vertical-slider:focus::-webkit-slider-runnable-track {
  background-image: url("assets/sketchy-border.svg");
  width: 8px;
  background-repeat: repeat-y;
  background-size: auto 100%;
}

.vertical-slider::-moz-range-track {
  background-image: url("assets/sketchy-border.svg");
  width: 8px;
  background-repeat: repeat-y;
  background-size: auto 100%;
}

.vertical-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background: rgb(255, 255, 255);
  border: solid;
  border-radius: 50%;
  margin-left: -2px;
}

.vertical-slider:focus::-moz-range-track {
  background-image: url("assets/sketchy-border.svg");
  width: 8px;
  background-repeat: repeat-y;
  background-size: auto 100%;
}
